h1 {
    color: #800000;
    font-size: 36px;
}
p {
    color: #58593F;
    font-size: 18px;
}
h2 {
    color: #ffa319
    font-size: 30px;
}
h3 {
    color: #c16622;
    font-size: 24px;
}